$List1: 200px;
$List2: 1px 2px 3px black;
$List3: Helvetica, Arial, sans-serif;

$zip1: 1px 2px 3px 4px;
$zip2: 4em 3em 2em 1em;
$zip3: black green blue red;

$NestedList: 1px 2px 3px green, 6px 7px 8px blue, 3px 2px 1px yellow;

html {
  background: zip($zip1, $zip2, $zip3);
}

$BasicMap: (
  "KeyName": "Value",
  "AnotherKey": 200px,
);

$Map1: (
  "KeyName": "targeting a key produces it's value!",
  "String": string,
  "Number": 102,
  "List": (
    background 0.2s,
    color 0.3s,
  ),
  "NestedMap": (
    "NestedKey": "Nested value",
    "url": "../images/nestedImg.png",
    "Width": 300px,
  ),
);
